body {
    margin: 0;
}
.a,.b,.c,.d,.e {
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a {
    width: 99%;
    height: 150px;
    margin: 10px;
}
.foot {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.targ {
    justify-content: flex-start;
    width: 70%;
}
.b {
    width: 100%;
    height: 150px;
}
.cde {
    width: 100%;
    display: flex;
    height: 150px;
}
.c,.d,.e {
    width: 100%;
    margin: 10px;
}
.forF {
    width: 29%;
    display: flex;
    /*justify-content: flex-end;*/
    /*align-items: center;*/

}

.f {
    width: 100%;
    height: 290px;
    background: silver;
    /*position: absolute;*/
    display: flex;
    justify-content:center;
    align-items:center;
    top: 170px;
    margin-left: 10px;
}
@media screen  and (min-width: 0) and (max-width: 575px) {
     .main {
        display: flex;
        flex-direction: column;
    }
    .a {
        height: 80px;
    }
    .forF {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        /*position: relative;*/
        align-items: flex-start;

    }
    .f {
        width: 100%;
        height: 80px;
        background: aquamarine;
    }
    .b {
        width: 100%;
    }
    .targ {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }
    .foot {
        display: flex;
        flex-direction: column;
    }
    .cde {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .c,.d,.e {
        width: 20%;
        height: 30%;

    }
}
